@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
}

html.resizing,
html.resizing * {
  user-select: none !important;
  cursor: col-resize !important;
}

#app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.table th,
.table td {
  @apply border border-[0.5px] border-base-200;
}
